* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.flex {
    display: flex;
}

nav {
    width: 100%;
    padding: 10px 0 6px 30px;
    background-color: #F8C124;
    color: rgb(13, 146, 146);
    justify-content: space-between;
}

nav .name {
    width: 35%;
    font-size: 1.3rem;
}

nav ul {
    width: 65%;
    justify-content: flex-end;
}

nav ul li {
    list-style-type: none;

}

nav ul li a {
    padding: 10px 10px 10px 60px;
    text-decoration: none;
    color: rgb(13, 146, 146);
    font-weight: 500;
}

nav ul li a:hover {
    color: white;
}

#welcome {
    width: 90%;
    margin: auto;
}

.title-text {
    font-size: 3rem;
    margin: 30px 0 60px;
}

.sub-text {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 30px;
}

p {
    line-height: 2rem;
    font-size: 1.3rem;
    color: rgb(110, 110, 110);
}

.colored-content {
    color: #F8C124;
}